In [1]:
import pandas as pd

## Load training dataset

In [2]:
dataset_path = './dataset_train.csv'
dataset_train = pd.read_csv(dataset_path)

In [3]:
dataset_train = dataset_train[dataset_train["status"] == "sold"]

In [4]:
dataset_train

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,3184.0,sold,229900.0,4.0,2.0,0.18,1221590.0,Seabrook,Texas,77586.0,1579.0,2021-11-12
1,78106.0,sold,279900.0,2.0,2.0,0.12,1105274.0,Worcester,Massachusetts,1603.0,1702.0,2022-03-17
2,56272.0,sold,89900.0,3.0,1.0,0.45,1407243.0,Waterloo,New York,13165.0,1129.0,2021-12-15
3,105412.0,sold,599900.0,3.0,2.0,NaN,376583.0,Palatka,Florida,32177.0,2040.0,2021-11-15
4,93279.0,sold,895000.0,4.0,4.0,0.38,1598597.0,Bluffton,South Carolina,29910.0,3027.0,2022-04-08
...,...,...,...,...,...,...,...,...,...,...,...,...
523793,67441.0,sold,475000.0,6.0,4.0,2.13,1828779.0,Richmond,Virginia,23236.0,2940.0,2021-11-16
523794,79678.0,sold,299900.0,3.0,2.0,0.40,1158123.0,Ellenwood,Georgia,30294.0,1582.0,2022-03-22
523795,63464.0,sold,464000.0,3.0,2.0,0.25,871718.0,Franklin,Massachusetts,2038.0,1776.0,2022-01-10
523797,36577.0,sold,162500.0,3.0,2.0,0.32,1239856.0,Ocala,Florida,34472.0,1336.0,2021-11-29
523798,105829.0,sold,173000.0,4.0,1.0,0.25,1264643.0,Roanoke,Virginia,24017.0,1630.0,2021-11-05

In [5]:
input_columns = ['bed', 'bath', 'house_size']
output_columns = ['price']

## Creating model

In [6]:
import keras
from keras import layers

model = keras.Sequential( 
  [ 
    layers.Normalization(),
    layers.Input(len(input_columns)),
    layers.Dense(32, activation="linear"),
    layers.Dense(64, activation="linear"),
    layers.Dense(128, activation="linear"),
    layers.Dense(64, activation="linear"),
    layers.Dense(32, activation="linear"),
    layers.Dense(16, activation="linear"),
    layers.Dense(1),
  ] 
)

In [7]:
model.compile(
  optimizer=keras.optimizers.Adam(learning_rate=1e-4),
  loss=keras.losses.MeanSquaredError(),
  metrics=keras.metrics.RootMeanSquaredError(),
)

In [8]:
cleaned = dataset_train.dropna()
x = cleaned[input_columns]
y = cleaned[output_columns]

In [9]:
x.describe()

                 bed           bath     house_size
count  329069.000000  329069.000000  329069.000000
mean        3.318222       2.442831    2000.220881
std         1.063876       1.111178    1211.258492
min         1.000000       1.000000     100.000000
25%         3.000000       2.000000    1334.000000
50%         3.000000       2.000000    1764.000000
75%         4.000000       3.000000    2374.000000
max        99.000000     113.000000  217364.000000

In [10]:
y.describe()

              price
count  3.290690e+05
mean   3.855682e+05
std    4.714560e+05
min    1.000000e+00
25%    1.995000e+05
50%    2.999000e+05
75%    4.480000e+05
max    8.000000e+07

In [12]:
h = model.fit(x, y, epochs=2, batch_size=256)

Epoch 1/2
1286/1286 [==============================] - 18s 14ms/step - loss: 179088588800.0000 - root_mean_squared_error: 423188.5938
Epoch 2/2
1286/1286 [==============================] - 10s 8ms/step - loss: 179102892032.0000 - root_mean_squared_error: 423205.5000

In [13]:
import pickle
with open('model.pkl', 'wb') as file:
  pickle.dump(model, file)

INFO:tensorflow:Assets written to: ram://a8f35e8e-a444-4720-bbfe-a8a53a06ae59/assets

In [14]:
model.save(model.keras)

AttributeError: 'Sequential' object has no attribute 'keras'